<table class="blueTable">
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Name
            </th>
            <th>
                Age
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people" (click)="onPersonClick(person)" [class.selected-row]="person === selectedPersonInPeopleListComponent">
            <td>
                <img *ngIf="person.gender === 'Female' else maleTemplate" src="./assets/female.png" />
                <ng-template #maleTemplate>
                    <img src="./assets/male.png" />
                </ng-template>

            </td>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.age}}
            </td>

        </tr>
    </tbody>
</table>